[defaults]

# ===========================================================
# 指定默认的 hosts.ini 文件的位置
# 如果手动指定了 .ini 文件的话, 此处的设置会被覆盖掉
# ===========================================================
inventory = /home/apluser/ansible_work/inventory/hosts.ini

# ===========================================================
# 关闭 SSH 第一次连接提示:
#   Are you sure you want to continue connecting (yes/no)?
#   适合：
#       1. 测试环境
#       2. 内网环境
#       3. Ansible 自动化
# ===========================================================
host_key_checking = false

# 输出的格式
stdout_callback = yaml

# 自动选择 Python 解释器(避免报 warning)
interpreter_python = auto_silent

# 不生成 .retry 文件
retry_files_enabled = false

# 并发执行数量【默认 5】
forks = 20

# ========================
# 🔺设置ssh的超时时间🔺
#   单位: 秒
# ========================
timeout = 20

# =======================================
# 🔺配置Fact缓存, 提升收集 Facts 的速度
# =======================================
fact_caching = jsonfile
fact_caching_connection = .fact_cache
fact_caching_timeout = 86400

# 记录日志
# log_path = ./ansible.log

# =========================================
# 设置提权为root, 此处设置为false
# site.yml中设置为true用来覆盖此处的设置
# =========================================
[privilege_escalation]
become = false
become_method = sudo
become_user = root
become_timeout = 30
